body {

    padding-left: 250px;
    padding-right: 250px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

h1 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
}

.project-list-div {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.task-container {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.task-list-title {
    grid-row: 1/2;
    justify-self: center;
}

.task-list-div {
    grid-row: 2/3;
    
}

.task-div {
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(55, 236, 176);
    padding: 5px;
}

.project-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 207, 188);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    text-align: start;
}

.todo-button {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 232, 219);
    box-shadow: 2px 2px 3px rgba(163, 163, 163, 0.363);
    text-align: start;
}

.new-proj-button {
    background-color: rgb(213, 213, 213);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hidden {
    display: none;
}

.form-inputs {
    display: grid;
    grid-template-columns: 90px 1fr;
    margin-bottom: 10px;
}

#submit-new-proj-btn {
    margin: 10px;
}
#submit-new-todo-btn {
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 208, 172);
}

#new-todo-button {
    display: block;
    background-color: rgb(173, 173, 173);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}