body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#current-proj-div {
    justify-self: center;
    justify-content: center;
}

#proj-list-div {
    justify-self: center;
    justify-content: center;
}

.project-button {
    margin-top: 5px;
    margin-bottom: 5px;
}