body {
    display: flex;
    flex-direction: column;
    background-image: url('/src/img/lysann-weber-NSqSneOFXYA-unsplash.jpg');
    background-size: cover;
    padding-left: 250px;
    padding-right: 250px;
}

header {
    align-self: center;
    display: flex;
    justify-content: center;
    min-width: 260px;
}

h1 {
    display: flex;
    justify-content: center;
    min-width: 260px;
    color: whitesmoke;
    background-color: rgba(22, 22, 22, 0.52);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
}

h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#background-photo-credit {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    left: 0;
}

a {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-columns: 200px minmax(300px, 1fr);
    justify-content: center;
    gap: 10px;
    
}

.project-list-div {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(196, 248, 255, 0.6);
    backdrop-filter: blur(3px);
}

.task-container {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(252, 241, 226, 0.6);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding-bottom: 20px;
}

.task-list-title {
    grid-row: 1/2;
    grid-column: 1/2;
    display: inline;
    justify-self: center;
    align-self: center;
}


.new-task-button {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    background-color: rgb(213, 213, 213);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.task-list-div {
    grid-row: 2/3;
    grid-column: 1/3;
    
}

.task-div {
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(235, 209, 153);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: space-between;
}

.project-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 207, 188);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    text-align: start;
    font-weight: 600;
    
}

.todo-button {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 232, 219);
    box-shadow: 2px 2px 3px rgba(163, 163, 163, 0.363);
    text-align: start;
}

.new-proj-button {
    background-color: rgb(213, 213, 213);
    box-shadow: 2px 2px 5px rgba(163, 163, 163, 0.363);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} */



.form-inputs {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}

#submit-new-proj-btn {
    margin: 10px;
}
#submit-new-todo-btn {
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 208, 172);
}

button {
    cursor: pointer;
    border: none;
    font-weight: 700;
  }

.project-button-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #ffffff00;
    width: 1rem;
    height: 1rem;
    margin: 5px;
}

.task-div .delete-btn {
    background-color: #ffffff00;
    width: 1rem;
    height: 1rem;
    margin: 5px;
    position: absolute;
    align-self: end;
    justify-self: flex-end;
}

.completed-div {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.completed-box {
    margin: 0px 10px 0px 0px;
    padding: 0;
}

/* FOR MODALS */

#container .hidden {
    display: none;
}

.hidden {
    display: none;
}


.project-modal {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 300px;
    padding: 1.3rem;
    min-height: 150px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }

.task-modal {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 400px;
    padding: 1.3rem;
    min-height: 300px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }

  form {
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }


  label {
    font-size: 20px;
    font-weight: bold;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }

  .btn-close {
    position: absolute;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }